.purchases-container {
  grid-column: 2 / span 6;
  margin-top: 5%;
  background-color: var(--formColor);
  font-family: "Lato", sans-serif;
  color: var(--fontlight);
  height: 100%;
  border-radius: 5px;
}

.purchases-container h2 {
  color: var(--titleTextColor);
}

.purchaseCard-container {
  display: flex;

  height: 50%;
  margin: 20px 10px 20px 10px;
  padding: 10px 10px 10px 10px;
  border: 2px solid rgba(236, 232, 232, 0.6);
  border-radius: 5px;
}

.purchaseCard-qrcode {
}
.purchasesCard-text-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 24px;
}

.purchasesCard-text-container a:hover {
  text-decoration: underline;
}

.purchaseCard-qrcode a:hover {
  text-decoration: underline;
}
